/* CustomerLoginStyles.css */

/* Style for the form container */
.CustomerLoginFormContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Style for the form title */
  .CustomerLoginFormTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style for form elements */
  .CustomerLoginForm {
    display: flex;
    flex-direction: column;
  }
  
  .CustomerLoginForm label {
    margin-bottom: 10px;
  }
  
  .CustomerLoginForm input[type="tel"],
  .CustomerLoginForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .CustomerLoginForm .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
  }
  
  .CustomerLoginForm .submit-button:hover {
    background-color: #2980b9;
  }
  